{% extends "MAIN.html" %}


{% block right_box %}

	<div class="panel_box">
		<h3>Design Proposal</h3>
		<p>The <b><a href="http://flightgear.org/proposal-3.0.1">Original Flight Gear Proposal</a></b> - revision 3.0.1 by David L. Murr -- dmurr@pen.k12.va.us 
		(Updated 10/30/1996)</P>
	</div>


	<div class="panel_box">
		<h3>History</h3>
		<img src="/images/missc/history.jpg" style="float: right; margin: 10px;">
		<p>Read some history at <a href="http://en.wikipedia.org/wiki/FlightGear">WikiPedia</a></P>
	</div>

{% endblock %}


{% block content %}

<h1>FlightGear Anonymous CVS instructions</h1>


 
<H3>1. Make a directory to hold everything.</H3> 
 <PRE class="shell">cd /some/path
mkdir FlightGear-0.9
</PRE> 


 
<H3>2. Go to the new directory.</H3> 
 

<PRE  class="shell">cd /some/path/FlightGear-0.9</PRE> 

 
 
<H3>3. Check out a copy of the source code.</H3> 
 
 <PRE class="shell">cvs -d :pserver:cvsguest@cvs.flightgear.org:/var/cvs/FlightGear-0.9 login
CVS passwd: guest
 
cvs -d :pserver:cvsguest@cvs.flightgear.org:/var/cvs/FlightGear-0.9 co source
</PRE> 
</UL> 
 

 
<H3>4. Check out a copy of the data (base package.)</H3> 
 
 <PRE class="shell">cvs -d :pserver:cvsguest@cvs.flightgear.org:/var/cvs/FlightGear-0.9 login
CVS passwd: guest
 
cvs -d :pserver:cvsguest@cvs.flightgear.org:/var/cvs/FlightGear-0.9 co data
</PRE> 


 
<H3>5. Compile the source code.</H3> 
 
<p>Note: FlightGear has several prerequisites that must be installed
before you can build this source code.  If you attack these
prerequisites in the order listed below, you should be good.</p>
 
<UL> 
  <LI> Glut.  Most distributions include glut packages, although you
       may have to hunt for them.  Make sure you install both the glut
       and glut-devel packages.
  <LI> Zlib.  Most distributions install the basic zlib libraries by
       default, but not the development portions.  If you don't have
       zlib.h, you probably need to install the zlib-devel package for
       your distribution.
  <LI> <A HREF="http://plib.sf.net">Plib</A> - portability libraries and
       scene graph.
  <LI> Metakit.  A suitable version of MetaKit is included in the
       SimGear/src-libs/ subdirectory.  If your distribution doesn't
       provide a Metakit (and Metakit-devel) package, you will have to
       build and install it before you can compile SimGear.
  <LI> <A HREF="http://www.simgear.org">SimGear</A> - Simulation
       support libraries.  If you are building FlightGear from CVS,
       you need the CVS version of SimGear.  If you have strange build
       errors, one of the first things to check is that you have an
       up-to-date version of SimGear built <B>and</B> installed. 
</UL> 
 
<p>Now, configure and compile the FlightGear source code.</p>
 
<PRE class="shell">cd /some/path/FlightGear-0.9/source
./autogen.sh
./configure
make
</PRE> 
<p>
Note that the configure script can take many options.  Run
"./configure --help" to see what they are.  Some interesting options
to consider are "--prefix=/desired/install/path" and "--with-threads"
 </p>
<H3>6. Test run your freshly built version of fgfs.</H3> 
 
<p>The executable is created at</p>
<pre>/some/path/FlightGear-0.9/source/src/Main/fgfs</pre>
 
<p>Run this with the -fg-root= option so it can find the data.  You can
put this option in your ~/.fgfsrc to save some typing each time you
run FlightGear.</p>
 
<PRE class="shell">cd /some/path/FlightGear-0.9/source/src/Main/
./fgfs --fg-root=/some/path/FlightGear-0.9
</PRE> 

<H3>7. Keep your local source and data copies up-to-date.</H3> 
 
<p>Finally (and this is the good part) if you cd to the
/some/path/FlightGear-0.9/source directory (the one that was created
with the very first checkout command) and run "cvs update -d -P", your
local source tree will be automatically synced with the master
repository.  The "-d" flag automatically adds any new directories that
have been created in the repository, and the "-P" automatically
removes any old directories that have been removed from the
repository.</p>
<P> Also be aware that the latest CVS source code usually requires the
latest CVS data (base package.)  You must cvs update both.</p>
 
<PRE class="shell">cd /some/path/FlightGear-0.9/source
cvs update -d -P
cd /some/path/FlightGear-0.9/data
cvs update -d -P
</PRE> 
</UL> 
 
<p>If you pulled new source code files you must rebuild FlightGear:
</p> 
<PRE class="shell">cd /some/path/FlightGear-0.9/source
make
</PRE> 

 
<p>CVS is pretty smart, so if you have made local changes that don't conflict
with any changes to the master repository, cvs should be able to merge the 
changes together, even when the changes have been made to the same file.</p>
 
<p>If you have made changes that do conflict with new changes to the master 
repository, cvs will let you know, and you can go edit the file with 
conflicts and resolve them.</p>
 
<H3>Tip to save time and bandwidth</H3> 
<p>If you have limited bandwith or just want to save time, you can add a file 
called .cvsrc into you home directory. (usually <I>/home/your-username/</I>).
Copy the following lines into <I>/home/your-username/.cvsrc</I>.
</P> 
 
<PRE class="shell">cvs -z3 -q
diff -up
update -dP
checkout -P
rdiff -u
</PRE> 
 
<P> 
 

{% endblock content %}