{% extends "MAIN.html" %}

{% block right_box %}


	{% include "snip.platforms.html" %}
	
	{% include "snip.dvd_box.html" %}

{% endblock %}

{% block content %}

<H3>Important Information</H3>

<FONT SIZE=-1>
<UL>
  <LI> If you have a slow/expensive net connection, prefer physical
       media, or want to help the FlightGear project, please consider
       <A HREF="../dvd/">FlightGear on DVD</A>
       <P>

  <LI> For a complete FGFS manual, please refer to the official
       <A HREF="../Docs/getstart/getstart.html">FlightGear Manual</A>

       or download the 
       <A HREF="http://mapserver.flightgear.org/getstart.pdf">PDF Version</A>.
       <P>

  <LI> If you have trouble connecting, please visit one of our
       <A HREF="../mirrors.html#ftp">FTP mirrors</A>
       <P>

  <LI> <EM>Caution:</EM> Check the version numbers of the following
       prebuilt packages.  There is usually a several day delay
       between the official source code release and when the ready to
       run binaries of the same version begin to show up here.

</UL>
</FONT>

<H2><A NAME="windows"></A>Windows 98, 2000, ME, XP, Vista (v2.0.0)</H2>



<UL>

  <LI> <!--<a href="/idea/download/"class="download_button" style="float:right;">fgsetup-2.0.0.exe</a> -->
	<p>Download the self extracting/installing <b style="color: #009900;">fgsetup-2.0.0.exe</b> (298 Mb):</p></li>
  <LI> <p>After downloading the fgsetup-2.0.0.exe file, launch it and
       follow the on screen instructions to complete the installation.
       The installer will create start menu entries, install
       documentation, optionally install a desktop icon, and also will
       provide a well behaved uninstaller.</p>
       </li>

  <LI> <p>When you start FlightGear you will be presented with an initial
       "launch control" screen which allows you to select your
       aircraft, as well as a starting airport and runway.<p>
       </li>

  <LI> <p>FlightGear ships with an extensive 218 page manual.  We
       encourage people to at least take a glance through it,
       especially if they have questions or problems.
       </P>

  <LI> <!--<a href="/idea/download/"class="download_button" style="float:right;">fgsetup64-2.0.0.exe</a> -->
	<p>64-bit overlay: If you run <b>64-bit</b> windows, you can download the
       self extracting 64-bit version of FlightGear.  <b>This installs
       over the top of the standard 32 bit version</b> so you will need to
       install that first.  <b  style="color: #009900;">fgsetup64-2.0.0.exe</b> (14 Mb overlay):</p>
        </li>

  <LI> <p>The MSVC Win32 build is provided courtesy of Frederic Bouvier</p></A>.
</UL>

<div style="margin-left: 100px; background-color: #efefef; padding: 10px;">
<h6 style="margin-bottom: 10px;">Windows download for</h6>
<form>
<label style="margin-right: 30px;"><input type="radio" value="32" name="bit" onclick="toggle_download(this)">32 Bit system</label>
 
<label><input type="radio" value="64" name="bit" onclick="toggle_download(this)">64 Bit system</label>
<ul style=" list-style-type: disc;">
<li id="down_32" style="display: none;">Download and install <a href="#">fgsetup-2.0.0.exe</a> (298 Mb)</li>
<li id="down_64"  style="display: none;">Also download and install <a href="#">fgsetup64-2.0.0.exe</a> (14 Mb)</li>
</ul>
</form>
</div>



<H2><A NAME="mac"></A>Macintosh OS X (requires 10.4)</H2>

<UL>
  <LI><p>Download prebuilt Mac OS X binaries courtesy of Tatsuhiro Nishioka.
       <A HREF="http://macflightgear.sourceforge.net/">Available from the
       macflightgear.sourceForge.net project page.</A> (v1.9.1)</p>

</UL>

<A NAME="linux"></A>
<H2>Linux</H2>

<UL>
  <LI> <p>Download
       <A HREF="http://packages.flightgear.org.uk/">
       pre-built Slackware packages</A> courtesy of Jon Stockill. (v2.0.0)</p>
  <LI><p> Ubuntu: On Ubuntu, FlightGear can now be installed using the "synaptic" tool.</p>
  <LI> <p>Download
       <A HREF="http://packages.debian.org/sid/flightgear">

       pre-built Debian packages</A> courtesy of Ove Kaaven.
       (v1.0.0)</p>
  <LI> <p>Download pre-built Fedora Core [2,3,4] packages courtesy of Steve
       Hosgood.  (v0.9.10)</p>
       <SCRIPT>RandomURLS("Fedora");</SCRIPT>
  <LI> <p>Download pre-built <A HREF="http://pardus.org.tr/eng/index.html">
       Pardus</A> binary packages. (v0.9.10)</p>
		<ol>
		<li>
       <A HREF="http://paketler.pardus.org.tr/pardus-2007/flightgear-0.9.10-3-4.pisi">Program executable</A>.</li>
       <li><A HREF="http://paketler.pardus.org.tr/pardus-2007/flightgear-data-base-0.9.10-2-2.pisi">Program data</A>.</li>
		</ol>
	</li>
</UL>

<A NAME="sun"></A>
<H2>Solaris (Sparc/x86)</H2>

<UL>
  <LI><p>Download <A HREF="ftp://ftp.uni-duisburg.de/FlightGear/Solaris/">
       pre-built Solaris (sparc) binaries</A> courtesy of Martin
       Spott. (v0.9.8)</p>
  <LI><p>(Sparc Alternate) Download
       <A HREF="http://www.blastwave.org/packages.php/flightgear">
       pre-built Solaris (Sparc) binaries</A> courtesy of Ken Mays. (v0.9.9)</p>
  <LI><p>Download
       <A HREF="http://www.blastwave.org/packages.php/flightgear">
       pre-built Solaris (x86) binaries</A> courtesy of Ken Mays. (v0.9.9)</p>

</UL>

<A NAME="sgi"></A>
<H2>Sgi Irix</H2>

<UL>
  <LI><p>Download <A HREF="http://www.mechanics.citg.tudelft.nl/~everdij/nekoware/current/neko_flightgear-0.9.9.tardist">pre-built sgi
       binaries</A> courtesy of Erik Hofman.  (v0.9.9)</p>
</UL>

<A NAME="freebsd">
<H2></A>FreeBSD (v0.9.10)</H2>

<p><A HREF="http://www.freebsd.org/cgi/ports.cgi?query=flightgear&stype=all">
       This is the link to the FreeBSD FlightGear ports</A> courtesy
       of des *at* FreeBSD.org.</p>
       <ul>
       <li><STRONG>Option 1:</STRONG><br>
		run "pkg_add -r FlightGear" to
       download and install the binary package.</li>
       <li>
       <STRONG>Option 2:</STRONG><br> Run "cd /usr/ports/games/flightgear/
       && make package install" to retrieve the source code, compile
       it on your system, make a package, and install the resulting
       package on your system.</li>
		</ul>
	</li>

</UL>


{% endblock content %}