{% extends "idea.html" %}


{% block right_box %}

	<div class="panel_box">
		<h3>Wiki</h3>
		<p>There are also a lot more links in the wiki</P>
	</div>


{% endblock %}


{% block content %}

<h1>FlightGear Related Links</h1>


<H3>Major Projects</H3>
 
<p>FlightGear relies directly on a number of other projects, including:</P>
<UL> 
  <LI> <A HREF="http://www.jsbsim.org">JSBSim Flight Dynamics Modeling</A>.
       JSBSim is an object-oriented, multi-platform, flight dynamics model 
       written in C++. It is one of the several ways to drive aircraft flight 
       "math/physics" for FlightGear, but JSBSim also can be run in a 
       standalone mode and is also being used for other projects. The JSBSim 
       web site also strives to serve as a resource to flight simulation 
       engineers, hosting and providing links to relevant technical papers and 
       references to other sites.  
  <LI> <A HREF="http://www.terragear.org/">TerraGear</A>. TerraGear, using
       geographical elevation- and landuse-data as input, provides the
       physical geography of the FlightGear world, from the sea to the
       mountains.
  <LI> <A HREF="http://scenemodels.flightgear.org/">FlightGear Scenery Object 
       Database</A>. All the buildings, structures, and other objects in the 
       FlightGear world are stored in this database. Contributing new objects 
       to this database is an easy way to  help the project and improve your 
       local virtual flights.
  <LI> <A HREF="http://www.custom-scenery.org/">FlightGear World
       Custom Scenery Project</A>. A major project to improve the quality of the
       world scenery by using GRASS and other well-known
       <A HREF="http://www.opengeospatial.org/">OGC</A>-compilant tools.
  <LI> <A HREF="http://fgms.sourceforge.net/">FGMS</A>. A standalone
       network server for FlightGear, With fgms you can fly with other pilots
       scattered around the world.  You can assemble experiences in
       formation flight, build virtual airlines, track yourself on
       google maps, etc.
 
</UL> 
 
<H3>FlightGear Tools</H3>
 
<P>There are a number of add-ons to FlightGear available.</P> 
 
<UL> 
  <LI> <A HREF="http://taxidraw.sourceforge.net">TaxiDraw</A> 
       is a taxiway editor for FlightGear and X-Plane,
       written by David Luff.  
  <LI> <A HREF="http://fgsd.sourceforge.net">Scenery Designer</A>.
       is an interactive program that allow its user to design custom
       sceneries, written by Fred Bouvier.  
  <LI> <A HREF="http://atlas.sourceforge.net/">Atlas</A> - Cartography for
       virtual worlds.  A FlightGear compatible moving map display and atlas.
  <LI> <A HREF="http://www.xs4all.nl/~dtalsma/flightgear.html">The
       FlightGear AI Aircraft Download Page</A> hosted by Durk Talsma.
  <LI> <A HREF="http://sourceforge.net/projects/fgflightplanner/"> 
       Kelpie  Flight Planner</A> for FlightGear - A Java/SWT based Gui
       flight planner which uses the airport and navaid databases of
       Flightgear, allowing the user to search for airports and navigation
       aids and plan flights between them.
  <LI> <A HREF="http://members.aon.at/mfranz/flightgear/signs.html">Signs</A>:
       Displays city/airport/object names as floating text within the 
       FlightGear visuals.  Requires no changes to the FG code, but requires
       write access to the FlightGear data tree.
</UL> 
 
<H3>FlightGear Web Pages</H3>
 
<p>Other websites dedicated to FlightGear.</p>
 
<UL> 
  <LI> <A HREF="http://www.flightgear.ru/">A Russian language site about
       FlightGear</A>.
  <LI> <A HREF="http://www.jp.flightgear.org">A Japanese language
       translation of the FlightGear website</A>.
  <LI> Erik Hofman's <A HREF="http://www.a1.nl/~ehofman/fgfs/">prebuilt
       sgi binaries</A>.
  <LI> <A HREF="ftp://ftp.ihg.uni-duisburg.de/FlightGear/Win32/"> 
       Fred's "current" builds of FlightGear from cvs</A> as well as the
       FlightGear Scenery Designer, Taxidraw, Atlas, and a few other
       miscellaneous things.
  <LI> <A HREF="http://unbeatenpath.net/software/fgfs/Developers/Developers.html"> 
       FlightGear Developer Locations</A> - View a map of the world
       with the locations of the flightgear developers who have
       volunteered an approximate lon/lat. 
  <LI> <A HREF="http://fgatd.sourceforge.net/">Flight Gear Aviation
       Training Device</A> project (FAA Certification sought)
  <LI> <A HREF="http://www.aae.uiuc.edu/m-selig/apasim/Aircraft-uiuc.html"> 
       Aircraft Dynamics Models for Use with FlightGear</A> - Maintained by
       Dr. Michael Selig, UIUC.
  <LI> <A HREF="http://www.opengc.org">OpenGC</A> - Open source glass cockpit
       display project.
</UL> 
 
<H3>Flight Dynamics Modeling and Aircraft Modelling</H3>
<p>Resources for people interested in creating new aircraft for FlightGear.</p>
 
<UL> 
  <LI> <A HREF="http://www.ac3d.org">AC3D</A>.
       A shareware 3d modeler.
  <LI> <A HREF="http://www.blender.org">Blender</A>.
       An open-source 3d modeler.
  <LI> <A HREF="http://www.desktopaero.com/appliedaero/appliedaero.html"> 
       Demo of an Applied Aerodynamics Digital Textbook</A> 
  <LI> <A HREF="http://science.nas.nasa.gov/Software/VWT/">NASA Virtual 
       Wind Tunnel project</A> 
  <LI> <A HREF="http://www.allstar.fiu.edu/aero/flighttheory.htm">ALLSTAR
       Network Theory of Flight - Level 3</A> - Nicely done introduction
       to the theory of flight.  Goes into pretty good detail.
  <LI> <A HREF="http://aeroweb.brooklyn.cuny.edu/aircraft/l17a.html"> 
       http://aeroweb.brooklyn.cuny.edu/aircraft/l17a.html</A> - Navion info
  <LI> <A HREF="http://www.primeportal.net/the_airstrip.htm">The Airstrip</A> 
       - Collection of rather detailed aircraft pictures.
  <LI> <A HREF="http://members.fortunecity.com/inedesca/">Airplane
       3-View Drawings</A> - lots of 'em (mixed quality).
  <LI> <A HREF="http://www.aerospaceweb.org/aircraft/index.shtml"> 
       Aerospaceweb.org</A> - Online info for over 150 aircraft.
</UL> 
 
<H3>Other Flight Sim Related sites on the Net</H3>
 
<UL> 
  <LI> <A HREF="http://www.flightsimaviation.com/">The Flightsim
       Aviation Zone</A> - Source for aviation and flight simulator
       related news and forums.
  <LI> <A HREF="ftp://ftp.sunsite.org.uk/sites/ftp.flightgear.org/flightgear-ftp/Source/LaRCsim-1.4d.tar.gz"> 
       LaRCsim</A> - A set of ANSI 
       C routines that implement a full set of 
       equations of motion for a rigid-body aircraft in atmospheric and 
       low-earth orbital flight, suitable for pilot-in-the-loop simulations 
       on a workstation-class computer.
       <BR> 
       You should click on the "Free Utilities", fill in the form to 
       declare your USA citizenship, and then you can download LaRCsim.
       <BR> 
  <LI> <A HREF="http://www.simlabs.arc.nasa.gov"> 
       Nasa Ames Research Center</A> - The Aeronautical Test and
       Simulation Division at Ames Research Center operates two world
       class piloted flight simulation laboratories, the Vertical
       Motion Simulator (VMS) and the Crew Vehicle Systems Research
       Facility (CVSRF). 
  <LI> <A HREF="http://www.silentwings.no/">Silent Wings</A> -
       Soaring Simulator.
  <LI> <A HREF="http://pw1.netcom.com/~rrainey/acm.html">ACM</A> -
       Air Combat Maneuvers.  A neat combat sim. (Unix/X11)
  <LI> <A HREF="http://www.astro.ku.dk/~norup/vertigo/vertigo.html"> 
       Vertigo</A> - Another promising sim that models several different
       aircraft and has some decent graphics. (DOS)
  <LI> <A HREF="http://www.acesim.com/"> 
       Build your own full motion cockpit</A> 
  <LI> <A HREF="http://www.funet.fi/pub/msdos/games/demos/fgfly01c.dsc"> 
       FGFLY</A> - a public domain flight simulator.  MS-DOS only.
  <LI> <A HREF="http://fly.to/FLYG-Sim/">FLYG-SIM</A> by Anders E. Eriksson
  <LI> <A HREF="http://flightsim.fai.org/">F??ation A?onautique
       Internationale</A> - flight sim section.
  <LI> <A HREF="http://www.dutchroll.com">Flight Dynamics
       and Control (FDC) toolbox for Matlab and Simulink</A> 
  <LI> <A HREF="http://members.aol.com/wietlpachm/howto/">Matt Wietlispach's
       military cockpit project.</A> 
  <LI> <A HREF="http://www.signalcharlie.net/">Kent Lewis' Aviation Safety
       Blog</A> 
</UL> 
 
 
 
 <p>&nbsp;</p>
 
 
<H1>World Data</H1>
 
<H3>Geographical Data and Maps</H3>
 
<UL> 
  <LI> <A HREF="http://www.openstreetmap.org">Open Street Map</A> (street data)
  <LI> <A HREF="http://www.openaerialmap.org">Open Aerial Map</A> (satellite/aerial data)
  <LI> <A HREF="ftp://edcsgs9.cr.usgs.gov/pub/data/srtm/"> 
       SRTM (Shuttle Radar Topography Mission) data.  1 arcsec
       coverage is only available for the USA at this time.
  <LI> <A HREF="ftp://edcsgs9.cr.usgs.gov/pub/data/srtm/North_America_3arcsec/3arcsec/"> 
       SRTM (Shuttle Radar Topography Mission) data.  3 arcsec
       resolution for North_America.
  <LI> <A HREF="http://edcwww.cr.usgs.gov/doc/edchome/ndcdb/ndcdb.html"> 
       USGS DEM/DLG data and info</A> (Top level)
  <LI> <A HREF="ftp://edcftp.cr.usgs.gov/pub/data/DLG/2M"> 
       1:2,000,000-scale Digital Line Graph (DLG) data (USGS)</A> 
  <LI> <A HREF="ftp://www-nmd.usgs.gov/pub/gnis/">The Geographic Names
       Information System (GNIS)</A> 
  <LI> <A HREF="http://www.ngdc.noaa.gov/mgg/topo/globe.html">The Global 
       Land One-km Base Elevation (GLOBE) Project</A> 
  <LI> <A HREF="http://edcwww.cr.usgs.gov/landdaac/gtopo30/gtopo30.html"> 
       Global 30 Arc Second Elevation Data Set</A> 
  <LI> <A HREF="http://polarcom.com/~patawi/GIS/index_gis.html">Yukon 180 
       Meter DEM</A> 
  <LI> <A HREF="http://www.esri.com/data/index.html">ESRI Data</A> - 
       World GIS data in Shapefile format.
  <LI> <A HREF="http://www.manifold.net/download/download_set.html"> 
       Manifold Systems</A> - Free maps and GIS data (including
       Digital Chart of the World "DCW")
  <LI> <A HREF="http://www.cast.uark.edu/local/hunt/index.html">Guide
       To Mostly On-line And Mostly Free U.S. Geospatial and Attribute
       Data</A> 
  <LI> <A HREF="http://mapping.usgs.gov/">Another USGS site for DEM &
       DLG data (and other stuff)</A> 
  <LI> <A HREF="http://crusty.er.usgs.gov/coast/getcoast.html">USGS
       Coastline Extractor</A> 
  <LI> <A HREF="http://www.nima.mil/GandG/ngdc-wmm2000.html"> 
       The U.S. Department of Defense World Magnetic Model 2000</A>  
  <LI> <A HREF="http://www.best.com/~williams/index.html">Software 
       that computes magnetic variation anywhere on (or above) the 
       earth's surface</A> 
  <LI> <A HREF="http://www.nationalgeographic.com/maps"> 
       National Geographics Maps</A> 
  <LI> <A HREF="http://riemann.usno.navy.mil/AA/software/novas/novas_info.html"> 
       Code to model and calculate positions of astronomical objects</A> 
  <LI> <A HREF="http://www-atlas.usgs.gov/atlasftp.html">National Atlas
       of the United States</A> - Tons of various feature data (in shape 
       file format)
  <LI> <A HREF="http://www.soest.hawaii.edu/wessel/gshhs/gshhs.html">Global
       Unified land mass polygons</A> 
  <LI> <A HREF="http://geogratis.cgdi.gc.ca/frames.html">Canadian
       Spatial Data</A> - GeoGratis.
  <LI> <A HREF="http://edcwww.cr.usgs.gov/landdaac/glcc/glcc.html">Global 
       Land Cover Characterization</A> 1km resolution.
  <LI> NOAA Land Use Land Cover (shapefile)
       <A HREF="http://spo.nos.noaa.gov/projects/cads/description.html#landuse"> 
       [ Description ]</A> 
       <A HREF="http://spo.nos.noaa.gov/projects/cads/ftp_gis_download.html"> 
       [ Download ]</A> 
  <LI> <A HREF="http://cads.nos.noaa.gov/">Other GIS data in various formats
       from the NOAA</A> 
  <LI> <A HREF="http://www.dgadv.com/dgtv/">Terrain
       Viewer</A> - a "free" tool to visualize various terrain data
       sets.  Includes pointers to free terrain data sets (nothing not
       already listed here as of 2/27/2003.)
</UL> 
 
 
<H3>Land Use Data</H3>
 
<UL> 
  <LI> <A HREF="http://www.giss.nasa.gov/data/landuse/">Global Land
       Use Datasets</A> - Nasa Goddard Institute - Country codes,
       Cultivation intensity, Fractional inundation, Normalized
       difference vegetation index, Population density, Soil units,
       Vegetation, Wetland ecosystems ...
</UL> 
 
 
<H3>Airport and Navaid info</H3>
 
<UL> 
  <LI> <A HREF="http://x-plane.org/home/robinp/">Robin Peel's Airport
       and Navaid data homepage</A>.  
  <LI> <A HREF="http://jhcloos.com">The FAA's NASD</A> 
  <LI> <A HREF="http://www.airnav.com">AirNav</A> - Provides free
       access to detailed aeronautical information on airports and
       navigational aids in the USA.
  <LI> <A HREF="http://www.fcc.gov/oet/info/">FCC Databases and Info</A> 
  <LI> <A HREF="https://164.214.2.62/products/digitalaero/index.cfm"> 
       Digital Aeronautical Flight Information File (DAFIF)</A> 
  <LI> <A HREF="http://zowie.metnet.navy.mil/cgi-bin/oleg/search-mslib">A
       query page for a Master Stations Library, a database of all
       "major" airports, worldwide.</A> 
  <LI> <A HREF="http://www.recherche.enac.fr/opti/papers/author.html?todo=author&type=Alliot"> 
       Various ATC links</A>.
  <LI> <A HREF="http://www.ngs.noaa.gov/AERO/aerospecs.htm#FAA405"> 
       Standards/Specifications for Aeronautical Surveys</A> 
  <LI> <A HREF="http://www.tpub.com/celec/20.html">Approach lighting
       info</A> 
  <LI> <A HREF="http://www.usace.army.mil/publications/armytm/tm5-811-5/chap2.pdf"> 
       US Army's Airfield Runway and Approach Lighting Systems (Ch 2)</A> 
</UL> 
 
 
<H3>World Weather Info Sources</H3>
 
<UL> 
  <LI> <A HREF="http://www.nws.noaa.gov/tg/index.html"> 
       National Weather Service METAR/TAF Information</A> 
  <LI> <A HREF="ftp://weather.noaa.gov/data/observations/metar/cycles/"> 
       NOAA Metar Observations</A> 
  <LI> <A HREF="http://www.crh.noaa.gov/cgi-bin-ncrfc/uncgi/gts2">Snow
        Depths for the Midwest (USA)</A> 
  <LI> <A HREF="http://www.comet.ucar.edu/dstreme/">The DataStreme Project</A> 
       - potential for some interesting weather data.
</UL> 
 
 
 
 
<H3>World Modeling Tools</H3>
 
<UL> 
  <LI> <A HREF="http://www.remotesensing.org/">RemoteSensing.org</A> -
       A site dedicated to developing remote sensing algorithms, code,
       and technology.
  <LI> <A HREF="ftp://sunsite.unc.edu/pub/Linux/science/cartography/"> 
       Linux programs to manipulate cartography data</A> 
  <LI> <A HREF="http://sal.kachinatech.com/E/6/DRAWMAP.html">drawmap</A> 
       processes 250K Digital Elevation Model (DEM) files, 100K
       Digital Line Graph (DLG) files (in the 'optional' format), and
       Geographic Names Information System (GNIS) files.  (GPL'd)
  <LI> <A HREF="http://www.planetside.co.uk/">Terragen</A> 
       landscape generator</A> 
  <LI> <A HREF="http://gdal.velocet.ca/projects/shapelib/index.html"> 
       Shapefile processing code</A> 
  <LI> <A HREF="http://gdal.velocet.ca/projects/aigrid/index.html"> 
       Arcinfo grid processing code</A> 
  <LI> <A HREF="http://ddg.sourceforge.net">Digital Dawn Graphics Toolkit</A> 
  <LI> <A HREF="http://www.cs.utah.edu/vissim/papers/snowTerrain/">Geospecific
       rendering of alpine terrain</A> 
  <LI> <A HREF="http://vterrain.org/">Virtual Terrain Project (VTP)</A> 
  <LI> <A HREF="http://www.ai.sri.com/digital-earth">SRI's Digital Earth 
       Project</A> 
  <LI> <A HREF="http://www.ai.sri.com/geovrml">GeoVRML Working Group</A> 
</UL> 
 
<p>&nbsp;</p>
<H1>Development Links</H1> 
 
<H3>Philosophy and Tips</H3>
 
<UL> 
  <LI> <A HREF="http://www.catb.org/~esr/writings/cathedral-bazaar/"> 
       The Cathedral and the Bazaar</A> by Eric S. Raymond.  Required
       reading for anyone involved in a cooperative software
       development project.
</UL> 
 
<H3>Computer Graphics/OpenGL</H3>
 
<UL> 
  <LI> <A HREF="http://www.opengl.org">OpenGL</A> 
  <LI> <A HREF="http://www.graphicsgems.org">Graphics Gems</A> 
  <LI> <A HREF="http://www.acm.org/tog/resources/RTNews/html/rtn_index.html"> 
       Ray tracing news</A> 
  <LI> <A HREF="http://www.mesa3d.org">The Mesa
       3-D graphics library</A> - software only OpenGL implementation
       for many platforms, now with support for hardware acceleration
       begin built in.
  <LI> <A HREF="http://incolor.inetnebr.com/jepler/asm_3dnow.S">Experimental
       3dnow patch for Mesa</A> 
  <LI> <A HREF="http://www.findmail.com/listsaver/opengl-gamedev-l/">OpenGL
       Game Developer's Mailing list (archives)</A> 
  <LI> <A HREF="http://www.cs.unc.edu/~rademach/glui/">GLUI</A> - a 
       GLUT-based C++ user interface library (portable).
  <LI> <A HREF="http://plib.sourceforge.net">PLIB</A> -
       STEVE'S PORTABLE GAME LIBRARY.  Includes GUI Widgets (PUI),
       Sound Library (SL), Matrix/Vector math Simple Geometry Library
       (SG), Simple Scene Graph Library (SSG), and Joystick (JS).
       Intended to be very portable to be used with OpenGL and GLUT to
       produce very portable 3D applications.
</UL> 
 
<H3>OpenGL for Win32</H3> 
 
<UL> 
  <LI> <A HREF="http://www.cs.utah.edu/~narobins/glut.html">GLUT for
       win95/nt</A> - OpenGL Utility Toolkit
</UL> 
 
<H3>OpenGL for Mac</H3>
 
<UL> 
  <LI> <A HREF="http://www.conix3d.com/">http://www.conix3d.com/</A> -
       OpenGL for the Macintosh.
</UL> 
 
 
<H3>OpenGL Hardware Acceleration</H3>
 
<UL> 
  <LI> <A HREF="http://cyclone.cs.clemson.edu/~rmg/linux.html"> 
       http://cyclone.cs.clemson.edu/~rmg/linux.html</A> 
</UL> 
 
 
<H3>Data Manipulation (Gridding, Triangulation, Triangle Strips, etc.)</H3>
 
<UL> 
  <LI> <A HREF="http://www-users.informatik.rwth-aachen.de/~roberts/meshgeneration.html"> 
       Mesh Generation & Grid Generation on the Web</A> 
  <LI> <A HREF="http://tofu.alt.net/~grantham/meshifier/show.html"> 
       http://tofu.alt.net/~grantham/meshifier/show.html</A> - Convert
       Polygon models into more efficient "strips".
  <LI> <A HREF="http://www.cs.man.ac.uk/aig/staff/alan/software/"> 
       A Generic Polygon Clipping Library</A> 
  <LI> <A HREF="http://www.cs.cmu.edu/~quake/triangle.html">Triangle</A> -
       A Two-Dimensional Quality Mesh Generator and Delaunay Triangulator.
  <LI> <A HREF="http://gts.sourceforge.net/">GTS</A> - GNU Triangulated
       Surface Library.
</UL> 
 
 
<H3>Terrain Rendering Techniques</H3>
 
<UL> 
  <LI> <A HREF="http://www.cs.queensu.ca/home/jstewart/">James
       Stewart</A> - Interesting research into terrain illumination (self
       shading, and shadow casting) and visibility culling in terrains.
</UL> 
 
 
<H3>Cloud Rendering Techniques</H3>
 
<UL> 
  <LI> <A HREF="http://www.markmark.net/clouds/">Real-time Cloud
       Rendering</A> - by Mark Harris.
  <LI> <A HREF="http://www.markmark.net/SkyWorks/">SkyWorks Demo</A> 
       - by Mark Harris.
</UL> 
 
 
<H3>Free Development Tools</H3>
 
<UL> 
  <LI> <A HREF="http://www.xraylith.wisc.edu/~khan/software/gnu-win32/egcs.html"> 
       EGCS Development Toolchain for GNU-Win32 b19</A> - installs over the 
       top of Cygwin32-beta19 and fixes C++ template problems with 
       Cygwin32.
  <LI> <A HREF="ftp://ftp.dante.de/tex-archive/systems/msdos/dpmigcc/"> 
       Recompiled EMX GNU C/C++ port for Win32 and DOS</A> - You need
       nt09* as well as rsxnt*. 
  <LI> <A HREF="http://www.perl.com/">Perl</A> - A powerful, high level 
       scripting language.
  <LI> <A HREF="http://sources.redhat.com/autobook/">Gnu Autotools book</A> 
</UL> 
  <p>&nbsp;</p>
 
<H1>Math</H1>
 
<UL> 
  <LI> <A HREF="http://www.geom.umn.edu/docs/reference/CRC-formulas/"> 
       Basic Geometry</A> - U of MN Geometry Center.
  <LI> <A HREF="http://www.best.com/~williams/avform.html">Aviation 
       Formulary</A> - By Ed Williams
  <LI> <A HREF="http://www.cis.ohio-state.edu/hypertext/faq/usenet/graphics/algorithms-faq/faq.html"> 
       comp.graphics.algorithms Frequently Asked Questions</A> 
  <LI> <A HREF="http://riot.ieor.berkeley.edu/riot/Applications/ConvexHull/CHDetails.html"> 
       Finding the convex hull of a set of points.</A> 
</UL> 
  <p>&nbsp;</p>
 
<H1>Sound</H1>
 
<UL> 
  <LI> <A HREF="http://www.openal.org/">OpenAL</> 
       is responsible for handing FlightGear audio output over to the
       platforms native audio system.
  <LI> <A HREF="http://sunsite.auc.dk/penguinplay/"> 
       PenguinPlay</A> - Potential source for a portable sound library.
  <LI> <A HREF="http://flits102-126.flits.rug.nl/~rolf/NetStreamer.html"> 
       NetStreamer</A> - Stream audio across the net.
  <LI> <A HREF="http://www.libsdl.org/">SDL</A> - Simple DirectMedia
       Layer.  Multiplatform, free sound library in development.
</UL> 
 
 
<H3>Other</H3>
 
<UL> 
  <LI> <A HREF="http://www.xraylith.wisc.edu/~khan/software/stl/STL.newbie.html"> 
       Mumit's STL Newbie guide</A> 
  <LI> <A HREF="http://www.cpsc.ucalgary.ca/~kremer/STL/monitor/index.html"> 
       Standard Template Library Overview</A> 
</UL> 
 
 
 <p>&nbsp;</p>
 
<H1>Other Tools</H1>
 
<H3>3d Modeling Tools</H3>
 
<UL> 
  <LI> <A HREF="http://www.multigen.com">http://www.multigen.com</A> </li>
       - Comercial.
  <LI> <A HREF="http://radsite.lbl.gov/mgf/HOME.html"> 
       http://radsite.lbl.gov/mgf/HOME.html</A> </li>
  <LI> <A HREF="http://www.3dnature.com/"> 
       http://www.3dnature.com/</A> - comercial.</li>
</UL> 
 
 <p>&nbsp;</p>
<H1>Other Useful Sites</H1>
 
<UL> 
  <LI> <A HREF="http://aviationist.com/">Aviationist.com</A> - an interesting
       general aviation site.
</UL> 

{% endblock content %}