{% extends "idea.html" %}


{% block right_box %}

	<div class="panel_box">
		<h3>Not on this list?</h3>
		<p>If you want you project to appear on this page then <a href="#">click here</a> to submit the details. Please note the editors reserve the right to remove links as there are so many related projects :-)</P>
	</div>


{% endblock %}


{% block content %}

<h1>FlightGear Based Projects</h1>

 
<H3>RWTH Aachen research simulator</H3> 
 
<IMG  style="float:right; margin-left: 20px;" SRC="http://flightgear.org/Projects/RWTH/ResearchSim.jpg"> 
<p>The Institute of Aerospace Engineering at the RWTH Aachen is using
FlightGear to drive the cockpit and the visuals of a general aviation
simulator for training and research purpose. Micro Air Vehicles are
being implemented by MATLAB/Simulink flight dynamics models; all
I/O-related tasks, be they required by FDM, controls or instruments,
are connected over network, using FlighGear native interfaces.</p>
<P> 
<A HREF="http://www.dynamik.rwth-aachen.de/English/Simulators">Additional info.</A> 
<P> 
 
 
<H3>Phil Cobbin's Synthetic Vision Project</H3> 
 
<IMG style="float:right; margin-left: 20px;" SRC="http://flightgear.org/Projects/SynthVision/Small/las-vegas-airspace.jpg"> 
<p>Phil Cobbin is developing an open source synthetic vision system
largely based on FlightGear.  He has created code to build 3d (translucent)
representation of all the FAA airspace boundaries.</p>
<P> 
 
<A HREF="SynthVision/">Pictures and additional info</A>.
<P> 
 
 
<div style="clear: right;"></div>
<H3>OV-10 Bronco Association Museum Simulator Project</H3> 
<IMG style="float: right; margin-left: 20px;" SRC="http://flightgear.org/Projects/obam/Small/2ship.jpg"> 
<p>Dave Culp, a former USAF Bronco pilot, constructed a FlightGear-based
OV-10 Bronco flight simulator for the OV-10 Bronco Association at Meacham
Field, Fort Worth Texas.</p>
 
<P> 
<A HREF="obam">Pictures and additional info</A>.
<P> 
 
 <div style="clear: right;"></div>
<H3>John Wojnaroski's 747 Cockpit Project</H3> 
<IMG style="float: right;" SRC="http://flightgear.org/Projects/747-JW/Small/img_2327.jpg"> 
<P>John Wojnaroski is building a 747 cockpit based on FlightGear and
OpenGC.  He is developing his own hardware for some of the
functionality and interfacing.</P>
 
<P> 
<A HREF="747-JW/">Pictures and additional info</A>.
<P> 
 
  <div style="clear: right;"></div>
<H3>Gene Buckle's F-15C Eagle Flight Simulator</H3> 
<p>Gene Buckle is working on building his own lifesize flight sim out of
an old airplane fuselage.  He hopes to drive the display and
instruments with Flight Gear.</p>
 
<P> 
<A HREF="http://www.f15sim.com/">Pictures and additional info</A>.
<P> 
 
 
<H3>University of Illinois at Urbana Champaign</H3> 
 
<p>FlightGear is providing a platform for icing research for the Smart
Icing Systems Project.</p>
 
 <p>
<A HREF="uiuc.html">More info</A></p>
 
 
 

<H3>Simon Fraser University, British Columbia Canada</H3> 
 
<p>Portions of FlightGear were used in simulation to develop the needed
control algorithms for an autonomous aerial vehicle.<p>
 
 
<p><A HREF="chenness.html">More info</A></p>
 
 
 

<H3>Iowa State University</H3> 
 
<p>A senior project intended to retrofit some older sim hardware with
FlightGear based software.</p>
 
 
<p><A HREF="iastate.html">More info</A>.</p>
 
 
 

<H3>University of Minnesota - Human Factors Research Lab</H3> 
 
<p>FlightGear brings new life to an old Agwagon single seat, single
engine simulator.</p>
 
 <p><A HREF="hfrl.html">More info</A>.</p>
 
 
 

<H3>Ray Woodworth's Flight Simulator Motion Chair</H3> 
 
<p>FlightGear provides real-time pitch, roll, and yaw data to
realistically control this motion chair.</p>
 <p>
 <ul><li>
<A HREF="http://flightgear.org/Projects/RayChair/raychair.html">More info</A>.</li>
<li><A HREF="http://linuxpower.org/display.php?id=193">A picture of the
chair in action at Linux World Expo</A> (3rd pic down.)</li>
</ul>
 </p>
 
 

<H3>Aeronautical Development Agency, Bangalore India</H3> 
 <p>
FlightGear is used as as the image generator for a flight simulation
facility for piloted evaluation of ski-jump launch and arrested
recovery of a fighter aircraft from an aircraft carrier.</p>
 
 <p><A HREF="ADA/index.html">More information</A>  </p>
 
 
 

<H3>Veridian Engineering Division, Buffalo, NY</H3> 
 
 <p>FlightGear is used for the scenery and out-the-window view for the
Genesis 3000 flight simulator. 
 
For information contact: Paul Deppe (716) 631-6898 or Bill Otto (716)
631-6729</p>
 
<p><A HREF="Genesis3000/Genesis_3000_Overview.html">More detailed information</A> </p>
 
 
 

<H3>The Aberystwyth Lighter Than Air Intelligent Robot (ALTAIR)</H3> 
 
<p>The Intelligent Robotics Group at the University of Wales, Aberystwyth, UK
is using FlightGear as part of their aerobot research to design aerial
vehicles that can operate in the atmosphere of other planets.</p>
 
<p><A HREF="ALTAIR/index.html">More information</A>.</p>

<H3>University of Tennessee at Chattanooga</H3> 
<p>FlightGear is being used as the basic framework to provide the UTC
Challenger Center (and hopefully other centers in the future) a low
cost virtual reality computer simulation.  Our simulation is using
flightgear and JSBSim, specifically the shuttle module, to develop a
shuttle landing simulator.  Currently, we are trying to get to the
point of at least contributing instructions on how to interface our
virtual reality hardware with Flightgear back to the OS community.
 </p>
 
<p><A HREF="utc.html">More info</A>.</p>
 
 
 

<H3>ARINC</H3> 
<p>Todd Moyer of ARINC is using FlightGear as part of an effort to test
and evaluate Flight Management Computer avionics and the corresponding
ground systems.</p>
 
 
<p>Certain capabilities of the Flight Management Computer are only
available when airborne, which is determined by the FMC according to
data it receives from GPS and INS sensors.  We have written additional
software that translates the NMEA output of FlightGear (including
latitude, longitude, and altitude) into the ARINC 429 data words used
by GPS and INS sensors.  These data words are then fed to the Flight
Management Computer.  The position information from FlightGear is
realistic enough to convince the FMC that it is actually airborne, and
allows us to test entire "flights" with the avionics.</p>
 
 
<p><A HREF="http://www.arinc.com/">More info</A>.</p>
 

<H3>MSimulation</H3> 
<p>Marcus Bauer and others are working on a simulator cockpit environment
and are using FlightGear as the software engine.  They are building a
real Cockpit, including three cockpit computers and are using
Flightgear as their flightsimulation platform.  The cockpit panels,
systems and logics are done like Airbus does today.</p>
 
<p><A HREF="http://www.msimulation.de">More info</A>.</p>
 
{% endblock content %}