{% extends "idea.html" %}


{% block right_box %}

{% endblock %}



{% block content %}

<h1>Links</h1>

<h3>FlightGear Related Links</h3>
<p>In addition to this website, there are a large number of websites either directly related to FlightGear, or which contain information of use to the FlightGear pilot. This secion provides a non-exhaustive list of them. Any additions or corrections should be sent to the maintainer at the bottom of the page.</p>
<p><b><a href="/idea/links/sites/">Related Sites</a></b></p>

<h3>FlightGear Based Projects</h3>
<p>One of the primary goals of FlightGear is to have an open architecture so it can be used as a platform for a variety of projects. This page contains information on some of the various projects that have utilized FlightGear in one way or another. </p>
<p><b><a href="/idea/links/projects/">Related Projects</a></b></p>

{% endblock content %}