{% extends "MAIN.html" %}

{% block right_box %}

	<div class="panel_box">
		<h3>Coming Soon</h3>
		<p>Upload your own images, and a rankings system.</P>
	</div>

	<div class="panel_box">
		<h3>Image Hosting</h3>
		<p>This gallery is stored as a Google project<br><a href="http://code.google.com/p/flightgear-gallery/">flightgear-gallery</a></P>
	</div>
{% endblock right_box %}

{% block content %}

{% for img in app.gallery %}
	<div class="gallery_thumb_box" id="gallery">
	<a href="{{ img.image }}" 
		rel="lightbox"><img src="{{ img.thumb }}"></a>
	</div>
{% endfor %}

    <script type="text/javascript">
    $(function() {
        $('#gallery a').lightBox();
    });
    </script>

{% endblock content %}