{% extends "MAIN.html" %}

{% block right_box %}

	<div class="panel_box">
		<h3>Coming Soon</h3>
		<p>Upload your own images, and a rankings system.</P>
	</div>

	<div class="panel_box">
		<h3>New</h3>
		<p>TODO</P>
	</div>





{% endblock right_box %}

{% block content %}


<p>This is a new area for FlightGear were working on maybe. TODO is surveys, ranking and user uploads</p>

<h2>Featured Video</h2>
<p>
<object width="580" height="360"><param name="movie" value="http://www.youtube.com/v/Y5J4t8UiZCU&hl=en_GB&fs=1&rel=0&color1=0x2b405b&color2=0x6b8ab6&border=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/Y5J4t8UiZCU&hl=en_GB&fs=1&rel=0&color1=0x2b405b&color2=0x6b8ab6&border=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="580" height="360"></embed></object>
</p>


</div>

{% endblock content %}