{% extends "MAIN.html" %}

{% block right_box %}

	<div class="panel_box">
		<h3>Contents</h3>

		<ul>
			<li><a href="#tutorials">Tutorials</a></li>
		<li><a href="#papers">Papers &amp; Presentations</a></li>
		<li><a href="#dev_docs">Development Docs</a></li>
		</ul>

	</div>

{% endblock %}



{% block content %}

<H2>The FlightGear Manual</H2>

<p>This is designed to be "The Manual that comes with the Software."  The
PDF version is intended to be viewed or printed and has a very
professional look.  The html version is a quick conversion and may not
be as nice in some respects as the pdf version.
</P>

<UL>
  <LI> Download <A HREF="http://mapserver.flightgear.org/getstart.pdf">The 
       FlightGear Manual</A> (PDF)

  <LI> View <A HREF="http://www.flightgear.org/Docs/getstart/getstart.html">The FlightGear
       Manual</A> (html)
</UL>


<H3>FlightGear Quick Reference Guide</H3>

<UL>
  <LI> <A HREF="http://www.flightgear.org/Docs/FGShortRef.pdf">FlightGear Short Reference</A>
       (PDF)

  <LI> <A HREF="http://www.flightgear.org/Docs/FGShortRef.html">FlightGear Short Reference</A>
       (html)
</UL>


<H3>Additional Documentation</H3>

<UL>
  <LI> <A HREF="http://www.flightgear.org/Docs/FAQ.shtml">FlightGear FAQ</A>

  <LI> <A HREF="http://www.flightgear.org/Docs/fgfs-model-howto.html">Mini-HOWTO: 3D Aircraft
       Models in FlightGear</A>

  <LI> <A HREF="http://www.flightgear.org/Docs/fgfs-viewer-howto.html">Mini-HOWTO: Configuring
       Views in FlightGear</A>

  <LI> <A HREF="http://wiki.flightgear.org">
       FlightGear Wiki User Documentation</A>
</UL>


<a name="tutorials"></a>
<H2>Tutorials</H2>
<p>
Additional tutorials are always welcome.  FlightGear has a zillion features
that aren't immediately obvious.  Tutorials can be a great way to point out
some of the more subtle features and details of FlightGear.
</p>
<UL>
  <LI> <A HREF="http://www.4p8.com/eric.brasseur/flight_simulator_tutorial.html">

       A basic flying tutorial using FlightGear.</A>
  <LI> <A HREF="Docs/Tutorials/circuit/index.html"><CITE>A Circuit in
       FlightGear</CITE></A> uses over 20 screenshots to show how to
       fly the FlightGear Cessna 172 smoothly by concentrating on
       attitudes.
  <LI> <A HREF="Docs/Tutorials/fschool/fschool_0.0.3.pdf">FlightGear
       Flight School</A> - A tutorial to walk you through the basics
       of flying an aircraft (set in the context of simulating all the
       procedures with FlightGear.)
  <LI> <A HREF="http://clx.anet.fr/spip/article.php3?id_article=92">
       Envoyez-vous en l'air !</A> - A FlightGear tutorial in French.
  <LI> Building FlightGear with the free Cygwin compiler under Windows.
       Very detailed and well done.
       <A HREF="Docs/Tutorials/fg_cygwin/fgfs_cygwin.htm">HTML Version.</A>

       <A HREF="Docs/Tutorials/fg_cygwin/fgfs_cygwin.pdf">PDF Version.</A>
</UL>


<a name="papers"></a>
<H2> Papers and Presentations</H2>
<p>
Several papers have been published that center on or at least
reference FlightGear.  As we can provide copies or links, I will add
them here:</p>

<UL>
  <LI> Here is a paper and handout presented at UseLinux 2004 by Alex
       Perry.<BR>
       <A HREF="/Papers/UseLinux-2004/fgfs.pdf">The Paper.</A><BR>

       <A HREF="/Papers/UseLinux-2004/handout.pdf">The Handout.</A>
       <P>

  <LI> Here are two papers presented at the European Space Agency
       ASTRA conference 2002 (ASTRA = Advanced Space Technologies in
       Robotics and Automation.)<BR>
       <A HREF="/Papers/ASTRA/astra_andy_02.pdf">Landmark
       Recognition for Localization and Navigation of Aerial
       Vehicles</A><BR>
       <A HREF="/Papers/ASTRA/astra_phil_02.pdf">Determination of
       Planetary Meteorology from Aerobot Flight Sensors</A>
       <P>

  <LI> FlightGear was presented at the May 7, 2002
       <A HREF="http://www.lugod.org">LUGOD</A> meeting in Davis, CA.
       You can view the
       <A HREF="http://www.lugod.org/meeting/past/2002.05.07.php">meeting
       minutes.</A>
       You can also view a collections of
       <A HREF="http://www.lugod.org/photos/2002.05.07/">photos
       from the presentation.</A>  Also available are the
       <A HREF="http://www.lugod.org/presentations/flightgear/">presentation
       slides</A>.
       <P>

  <LI> <A HREF="http://www.aae.uiuc.edu/m-selig/apasim/pubs/AIAA_Paper_2002-0817.pdf">
       AIAA 2002-0817 - Icing Encounter Flight Simulator</A> - Written
       by Bipin Sehgal, Robert Deters, and Michael Selig.
       <P>

  <LI> The FlightGear Flight Simulator History, Status and Future -
       <A HREF="/Papers/LinuxTag-2001/index.html">[html]</A>
       <A HREF="/Papers/LinuxTag-2001/handout.pdf">[pdf]</A> -
       slides from Alex Perry's talk at
       <A HREF="http://www.linuxtag.org">LinuxTag 2001</A>

       <P>

  <LI> FlightGear visual scenery -
       <A HREF="/Papers/UKUUG-2001/index.html">[html]</A>
       <A HREF="/Papers/UKUUG-2001/handout.pdf">[pdf]</A> - the
       slides from Alex Perry's talk at 
       <A HREF="http://www.ukuug.org/events/linux2001/">UKUUG Linux
       2001 - Linux Developers' Conference</A>
       <P>

  <LI> <A HREF="/Papers/ADAPaper/UsingPCsForFlightSimulationResearch.html">
       Using PCs in Flight Simulation Research</A> - Presented at a
       flight simulation conference, May 24 - 25, 2001.  Moscow,
       Russia.
       <P>

  <LI> <A HREF="/Papers/Basler-1998/FGFD3_98.html">Flight Gear - The
       Flight Simulator for free?</A> - Written by Michael Basler,
       1998.
       <P>

  <LI> <A HREF="/Papers/Basler-1997/FSFD1_97.html">Flight Gear - noch
       (k)ein neuer Flugsimulator</A> - Written by Michael Basler,
       1997.  Comment: This gives a really interesting historical
       perspective on how far this project has come since the early
       days. <BR>

       <A HREF="http://www.flightgear.org/Papers/Basler-1997/FSFD1_97_trans.doc">A nicely done
       human translation to english</A>.
       (<A HREF="http://www.flightgear.org/Papers/Basler-1997/FSFD1_97_en.html">Rough Babel
       Fish translation to english</A>)
</UL>


<a name="dev_docs"></a>
<H2>Development Docs</H2>
<p>
Here is a collection of documentation which attempts to describe the
development side of Flight Gear.</p>


<H3>Airport / Nav Aids</H3>

<UL>
  <LI> <A HREF="http://www.flightgear.org/Docs/AirNav/AptNavFAQ.FlightGear.html">Robin Peel's AirNav
       format specification.</A>

</UL>


<H3>Autopilot</H3>

<UL>
  <LI> <A HREF="http://www.flightgear.org/Docs/XMLAutopilot/">FlightGear's Configurable Autopilot
       System.</A>
  <LI> [ old ]
       <A HREF="http://www.flightgear.org/Docs/Autopilot/AltitudeHold/AltitudeHold.html">Altitude Hold
       Module</A>
  <LI> [ old ]
       <A HREF="http://www.flightgear.org/Docs/Autopilot/HeadingHold/HeadingHold.html">Heading Hold
       Module</A>

</UL>


<H3>Flight Model</H3>

<UL>
  <LI> <A HREF="Docs/Flight/LaRCsim/LaRCsim-notes/LaRCsim-notes.html"> 
       Notes on/Summary of LaRCsim code</A>
  <LI> <A HREF="Docs/Flight/LaRCsim/LaRCsim-vars/LaRCsim-vars.html"> 
       Description of all the LaRCsim public variables</A>

  <LI> <A HREF="http://www.flightgear.org/Docs/Flight/LaRCsim/manual.ps">The Official LaRCsim
       manual (postscript file)</A> 
</UL>


<H3>Portability</H3>

<UL>
  <LI> <A HREF="http://www.flightgear.org/Docs/Portability/fgfs-portability-guide/fgfs-portability-guide.html">
       Portability guide</A> - notes to developers.

</UL>


<H3>Scenery</H3>

<UL>
  <LI> <A HREF="http://www.flightgear.org/Docs/Scenery/CoordinateSystem/CoordinateSystem.html"> 
       FG Internal Coordinate Systems for Scenery</A>
  <!-- GONE <LI> <A HREF="http://people.A2000.nl/dtals/planets.html">Sun, Moon,
       and Planets</A> -->
  <LI> <A HREF="http://www.flightgear.org/Docs/Scenery/Stars/Stars.html">Stars</A>

  <LI> <A HREF="http://www.flightgear.org/Docs/Scenery/Sky/Sky.html">The Sky Dome (sky to haze
       blending, and dusk/dawn effects)</A>
  <LI> <A HREF="http://www.flightgear.org/Docs/Scenery/SceneryGeneration/SceneryGeneration.html">
       Scenery Generation for Flight Gear</A> (A brief overview)
</UL>


<H3>Time</H3>

<UL>
  <LI> <A HREF="http://www.flightgear.org/Docs/Time/Events/Events.html">The Periodic Event Scheduler</A>
</UL>


	
{% endblock %}