
/**************************************************/
/* Inter Site Navigation */
/**************************************************/
#sites_nav
{
	padding: 0px 1px 1px;
	margin-left: 0px;
	margin-top: 10px;
	font: bold 12pt  sans-serif;
	float: right;
}

#sites_nav li
{
	list-style: none;
	margin: 0px;
	display: inline;
}

#sites_nav li a
{
	padding: 2px 10px 2px 10px;
	color: black;
	background: #dddddd;
	text-decoration: none;
	border: 2px solid #8CB0DB;
	border-radius: 7px;
	-moz-border-radius: 7px; 
	-webkit-border-radius: 7px;
}


#sites_nav li a:hover
{
	border-color: #ccccbb;
	color: black;
	background: #D6E7EB;
}

#sites_nav li a.selected{
	border: 2px solid #134F8B;
	background: #A0C9E9;
}