
<div style="float: right; margin: 0px 0px 0px 0px;">

<img width="200" height="200" 
	sssrc="http://pigeond.net/git/?p=flightgear/flightgear.data.git;a=blob_plain;f={{ aero.splash }}"
	src="http://mapserver.flightgear.org/git/?p=fgdata;a=blob_plain;f=Aircraft/{{ aero.directory }}/thumbnail.jpg;hb=HEAD"
>
</div>




<table width="50%" class="aero">
<tr><th>Aero</th><td>{{ aero.aero }}</td></tr>
<tr><th>Authors</th><td>{{ aero.author }}</td></tr>
<tr><th>Flight Model</th><td>{{ aero.fdm }}</td></tr>
<tr><th>Version</th><td>{{ aero.version }}</td></tr>
<tr><th>Directory</th><td>{{ aero.directory }}/</td></tr>
<tr><th>Manufacturer</th><td>--ToDO--</td></tr>
<tr><th>Classification</th><td>--ToDO--</td></tr>
</table>

<p>&nbsp;</p>

<a href="#" class="download_button" onclick="alert('todo');">Download</a>
