
<form action="/aircraft/" method="get" style="margin: 0px 0px 10px 0px;">
<input type="text" name="search" size="15" value="{{ search_text }}"> <input type="submit" value="Search">
</form>

<style>
.aero_box{
	border: 1px solid white;
	padding: 3px;
	float: left;
	width: 200px;
	height: 200px;
	margin-right: 10px;
	margin-bottom: 10px;
	background-color: white;
	text-align: center;
}
.aero_box h6{
font-size: 9pt;
font-family: sans-serif;
font-weight: normal;
background-color: #efefef;
}
</style>
{% if aircraft %}
<table width="100%" class="listing">
<tr>
	<th>Description</th>
	<th>FDM</th>
	<th>Version</th>
	<th>&nbsp;</th>
</tr>
{% for aero in aircraft %}
<tr valign="top">
		<td><b>{{ aero.description }}</b></td>
		<td>{{ aero.fdm }}</td>
		<td>{{ aero.version }}</td>
		<td><!--<button onclick="location.href='/aircraft/{{ aero.aero}}/'">View</button>--></td>
    </tr>
	
{% endfor %}
</table>

{% else %}
<div class="info">
<p>No aircraft matching '<b>{{ search_text }}</b>' found</p>
</div>

{% endif %}
