{% extends "main.html" %}

{% comment %}
## left ################################################
{% endcomment %}

{% block left_box %}

{% if aero %}

<h2>Videos</h2>

{% for vid in videos %}
<div class="video_box">
<img src="{{ vid.thumbnail }}">
</div>
{% endfor %}


{% else %}
<form action="/aircraft/" method="get">
<input type="text" name="search">
<input type="submit" value="Search Aircraft">
</form>

{% endif %}

{% endblock left_box %}





{% block content %}

{% if aero %}




{% include "aero_include.html" %}

{% else %}

<table width="100%">
<tr>
	<th>Aero</th>
	<th>Description</th>
	<th>Authors</th>
	<th>FDM</th>
	<th>Version</th>
</tr>
{% for aero in aircraft %}
	<tr>
		<td><a href="/aircraft/{{ aero.aero }}/">{{ aero.aero }}</td>
		<td>{{ aero.description }}</td>
		<td>{{ aero.author }}</td>
		<td>{{ aero.fdm }}</td>
		<td>{{ aero.version }}</td>
    </tr>
{% endfor %}
</table>

{% endif %}


{% endblock %}