{% extends "main.html" %}

{% comment %}
## left ################################################
{% endcomment %}

{% block side_box %}

{% if aero %}

<h2>Videos</h2>

{% for vid in videos %}
<div class="video_box">
<img src="{{ vid.thumbnail }}">
</div>
{% endfor %}


{% else %}
<form action="/aircraft/" method="get">
<input type="text" name="search">
<input type="submit" value="Search Aircraft">
</form>

{% endif %}

{% endblock side_box %}





{% block content %}

{% if aero %}
{% include "aero_include.html" %}


{% else %}
{% include "aircraft_include.html" %}

{% endif %}


{% endblock %}