<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1;">
<title>{{ title }} | {{ conf.SITE_TITLE }}</title>

<!--<link rel="SHORTCUT ICON" href="images/favicon.png">-->
<!--<link rel="stylesheet" type="text/css" href="/style_sheets/reset.css">-->
<!--
<link rel="stylesheet" type="text/css" href="/js/ext-3.1.1/resources/css/ext-all.css">
<link rel="stylesheet" type="text/css" href="/js/ext-3.1.1/resources/css/xtheme-gray.css">
<script type="text/javascript" src="/js/ext-3.1.1/adapter/ext/ext-base.js"></script>
<script type="text/javascript" src="/js/ext-3.1.1/ext-all.js"></script>-->
<!--<script type="text/javascript" src="js/ext-3.1.0/ext-all.js"></script>-->

<!--
<script type="text/javascript" src="/js/main.js"></script>
-->
<link rel="stylesheet" type="text/css" href="/style_sheets/reset.css">
<link rel="stylesheet" type="text/css" href="/style_sheets/idea.css">
<!--<script type="text/javascript" src="js/FG_PilotsGrid.js"></script>-->

</head> 
<body> 


<div id="main_container">

<!--######################################################-->
<!--### Left Block ###-->
<!--######################################################-->
<div id="left_box">

	<!--## Logo ##-->
	<div id="flightgear_logo"><img src="/images/fg3.png"></div>

	<!--## Navigation  ##-->
	<div id="navcontainer">
		<ul>
			{% for n in iconf.nav %}
			<li><a {% ifequal path n.path  %}class="selected"{% endifequal %} href="{{ n.path }}" >{{ n.label}}</a>
			{% if n.subnav %}
			<ul>
			{% for sn in n.subnav %}
			<li><a href="#">{{ sn.label }}</a></li>
			{% endfor %}
			</ul>
			{% endif %}
			{% endfor %}
		</ul>
	</div>

</div>



<div id="middle_box">


<!--######################################################-->
<!-- ### Top Banner ###-->
<!--######################################################-->
<div id="top_box">
	<!-- Language Icons and links -->
	<div id="lang_box">
		{% for lang in iconf.langs %}
		<a href="#"><img src="/images/langs/{{ lang.code }}.gif" title="{{ lang.label }}"></a>
		{% endfor %}
	</div>
	<h1>FlightGear Simulator Project</h1>
	<table>
	<tr>
	<th>The world's leading Open Source flight simulator</th>
	<td><a href="#">Pilots Online: 23</a></td>
	<td><a href="#">Servers: <span style="color: green">3 Up</span> / <span style="color: red">2 down</span></a></td>
	</tr>
	</table>
</div><!-- end top_box -->



<div id="toolbar_box">
<ssform action="http://www.google.com/cse" ssid="cse-search-box">
  <div>
    <input type="hidden" name="cx" value="014455812952330413319:i-xxrdkrna4" />
    <input type="hidden" name="ie" value="UTF-8" />
    <input type="text" name="q" size="31" />
    <input type="submit" name="sa" value="Search" />
  </div>
</form>
<script type="text/javascript" src="http://www.google.com/cse/brand?form=cse-search-box&lang=en"></script>
</div>


<div id="right_box">
	<div class="panel_box">
		<h3>Buy the DVD</h3>
		<img src="/images/missc/dvd-icon.jpg" style="float: right;">
		<p>For those with slow or expensive net connections or for those that like spiffy DVD's with cool stuff on them you can purchase a DVD distribution of the latest {{ iconf.tm }} program and the {{ iconf.tm }} world scenery.</P>
	</div>



	<div class="panel_box">
		<h3>Latest</h3>
		<p><a href="#"><b>v2.0.0</b></a> - 18 Feb 2010</p>
		<p>A new major update of the glihht gear simulator. Please check the readme</p>
	</div>
	<div class="panel_box">
		<h3>Aircraft</h3>
		<p><a href="#"><b>v2.0.0</b></a> - 18 Feb 2010</p>
		<p>A new major update of the glihht gear simulator. Please check the readme</p>
	</div>
</div><!-- right box -->

<div id="content_box" ssstyle="clear: right;">
{% block content %}
<p>Somethign here</p>
dsaa
{% endblock content %}
</div><!-- content box -->

</div><!-- midle box -->


</div><!-- end main_container -->





</body> 
</html>