{% extends "idea.html" %}


	{% block right_box %}

	<div class="panel_box">
		<h3>New</h3>
		<p><img src="http://mapserver.flightgear.org/git/?p=fgdata;a=blob_plain;f=Aircraft/Citation-Bravo/thumbnail.jpg;hb=HEAD"></p>
		<p><b>Cessna Citation Bravo</b></p>
	</div>

	<div class="panel_box">
		<h3>Recent Updates</h3>
		<ul>
		<li><a href="#">Airbus A380</a></li>
		<li><a href="#">Booeing 747</a></li>
		<li><a href="#">Pa 596</a></li>
		</ul>
	</div>

	{% endblock right_box %}

{% block content %}



{% if aero %}
<h1>{{ aero.description }}</h1>

<p class="back_link_block"><a href="javascript:history.back();" ssonclick="">&lt;&lt; Back</a>
{% include "aero_include.html" %}
{% else %}

<h1>Aircraft Downloads</h1>
{% include "aircraft_grid.html" %}

{% endif %}
{% endblock content %}