{% extends "idea.html" %}

{% block right_box %}
	<div class="panel_box">
		<h3>irc.flightgear.org</h3>
	 <ul>
		<li>Main Channel: <br><a href="irc://irc.flightgear.org#flightgear">#flightgear</a></li>
		<li>Main Channel: <br><a href="irc://irc.flightgear.org#fg_school">#fg_school</a></li>
		<li>Flight School: <br><a href="irc://irc.flightgear.org#flightgear">#flightgear</a></li>
		<li>IFR Navigation Squawk: <br><a href="irc://irc.flightgear.#airliners">#airliners</a></li>
		<li>Main Channel: <br><a href="irc://irc.flightgear.org#flightgear">#flightgear</a></li>
		<li>Wiki: <br><a href="irc://irc.flightgear.org#wiki">#wiki</a></li>
	</ul>

	</div>

{% endblock %}



{% block content %}


<h1>Support</h1>

<h3>Forums</h3>

<UL>
  <LI> <A HREF="http://www.flightgear.org/forums/">The official FlightGear
       Forums</A>.
  <LI> <A HREF="http://forums.avsim.net/dcboard.php?az=show_topics&forum=198">
       FlightGear forum sponsered by AVSIM.net</A>.
  <LI> <A HREF="http://ifsa.netfreehost.com/">FlightGear forum
       sponsered by the Indian Flight Sim Association</A>.
  <LI> <A HREF="http://fr.flightgear.tuxfamily.org/forum/index.php">French
       Language FlightGear forum</A>.
  <LI> <A HREF="http://www.flight-gear.de/">German Language FlightGear
       forum</A>.
  <LI> <A HREF="http://www.forums.flightgear.pl/">Polish Language FlightGear
       forum</A>.

</UL>

<p>&nbsp;</p>

<h3>Internet Relay Chat</h3>
<p>For live discussions and help there is the FlightGear IRC server:</p>
<UL>
  <LI><p> 
     <B>Main Site:</B> <a href="irc://irc.flightgear.org#flightgear">irc.flightgear.org#flightgear</a>
         </p> 
	</li>

     <li><p><b>Emergency Backup:</B> 
		<a href="irc://irc.freenode.net#flightgear">irc.freenode.net#flightgear</a></p>
	</li>

  <LI><p>Here is a <A HREF="http://wiki.flightgear.org/index.php/IRC">short
       FlightGear IRC tutorial</A>.</p></li>
</UL>

<p>&nbsp;</p>

<h3>Mailing Lists</h3>
<p> All FlightGear mailing lists are hosted @
       <A HREF="http://sourceforge.net/mail/?group_id=583">SourceForge.net</A>.
<UL>
  
  

  <LI> <A HREF="http://lists.sourceforge.net/lists/listinfo/flightgear-announce">
       Subscribe / Unsubscribe to FlightGear-Announce</A></li>
  <LI> <A HREF="http://lists.sourceforge.net/lists/listinfo/flightgear-cvslogs">
       Subscribe / Unsubscribe to FlightGear-CVSLogs</A></li>
  <LI> <A HREF="http://lists.sourceforge.net/lists/listinfo/flightgear-devel">
       Subscribe / Unsubscribe to FlightGear-Devel</A></li>

  <LI> <A HREF="http://lists.sourceforge.net/lists/listinfo/flightgear-flightmodel">
       Subscribe / Unsubscribe to FlightGear-FlightModel</A></li>
  <LI> <A HREF="http://lists.sourceforge.net/lists/listinfo/flightgear-users">
       Subscribe / Unsubscribe to FlightGear-Users</A></li>
</UL>

<p>&nbsp;</p>

<H1>Mailiing List Archives</H1>

<p>On Dec 20, 2005 we moved our mailing lists from the FlightGear.org
server to SourceForge.net.  This means our archives are divided into
two locations, the pre-switchover FlightGear archives, and the
post-switchover SourceForge archives.
</P>


    <h3>Current SourceForge Archives (20 Dec 2005 and newer)</h3>

   <UL>
    <LI> <A HREF="http://sourceforge.net/mailarchive/forum.php?forum_name=flightgear-announce">

         FlightGear-Announce Archives</A>
    <LI> <A HREF="http://sourceforge.net/mailarchive/forum.php?forum_name=flightgear-cvslogs">
         FlightGear-CVSLogs Archives</A>
    <LI> <A HREF="http://sourceforge.net/mailarchive/forum.php?forum_name=flightgear-devel">
         FlightGear-Devel Archives</A>
    <LI> <A HREF="http://sourceforge.net/mailarchive/forum.php?forum_name=flightgear-flightmodel">

         FlightGear-FlightModel Archives</A>
    <LI> <A HREF="http://sourceforge.net/mailarchive/forum.php?forum_name=flightgear-users">
         FlightGear-Users Archives</A>

   </UL>
 


    <h3>Older FlightGear.org Archives (before 20 Dec 2005)</h3>

   <UL>
    <LI> <A HREF="http://mail.flightgear.org/pipermail/flightgear-announce">
         FlightGear-Announce Archives</A>
    <LI> <A HREF="http://mail.flightgear.org/pipermail/flightgear-cvslogs">

         FlightGear-CVSLogs Archives</A>
    <LI> <A HREF="http://mail.flightgear.org/pipermail/flightgear-devel">
         FlightGear-Devel Archives</A>
    <LI> <A HREF="http://mail.flightgear.org/pipermail/flightgear-flightmodel">
         FlightGear-FlightModel Archives</A>
    <LI> <A HREF="http://mail.flightgear.org/pipermail/flightgear-users">

         FlightGear-Users Archives</A>
    
   </UL>

<h3>Even..</h3>
<ul>
    <LI> <A HREF="http://www.menet.umn.edu/~curt/lists/fgfs/"> older
         FlightGear mailing lists archives</A>.
   </UL>



	
{% endblock %}