{% extends "main.html" %}

{% block side_box %}
<h4>TODO</h4>
<p>Something to go here</p>
<h4>TODO</h4>
<p>something else here</p>
{% endblock side_box %}




{% block content %}


<p>Welcome to a mashup. This is a little experiment with the Google App Engine, ie cloud. The idea is to reaseach using the Google App Engine, pulling data from various resources such as:
</pre>
<ul>
<li>Aircraft data from *-set.xml files (processed local and pushed to cloud, soon on cron)</li>
<li>CVS Logs and file updates (processed local and pushed to cloud, soon on cron)</li>
<li>Pulls developers list from CVS logs</li>
<li>Mapservers imported</li>
<li>MP status update with some beautiful soup</li>
<li>Latest issues from fliightgear-bugs</li>
<li>Aircraft Details</li>
</ul>

<p>The code is available at github <a href="http://github.com/ac001/fg-aircraft">http://github.com/ac001/fg-aircraft</a></p>

{% endblock %}