<table width="100%" class="listing">
<tr>
	<th>&nbsp;</th>
	<th>Title</th>
	<th>Owner</th>
	<th>Status</th>
	<th>State</th>
	<th>Stars</th>
</tr>
{% for issue in issues %}
	<tr class="hover">
		<!--<td align="right"><a class="link" href="/issue/{{ issue.id }}/">{{ issue.id }}</td>-->
		<td align="center"><button class="linkbutton" style="width: 40px;"
			ssonclick="toggle_layer('issue_{{ issue.id }}');"
				>{{ issue.id }}</button></td>
		<td>{{ issue.title }}
			<div  id="issue_{{ issue.id }}" style="visibility:hidden; display:none;"><pre >{{ issue.description }}</pre></div>
		</td>
		<td>{{ issue.owner }}</td>
		<td>{{ issue.status }}</td>
		<td>{{ issue.state }}</td>
		<td>{{ issue.stars }}</td>
    </tr>

{% endfor %}
</table>