<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1;">
<title>{{ title }} | {{ conf.SITE_TITLE }}</title>

<!--<link rel="SHORTCUT ICON" href="images/favicon.png">-->
<!--<link rel="stylesheet" type="text/css" href="/style_sheets/reset.css">-->

<link rel="stylesheet" type="text/css" href="/js/ext-3.1.1/resources/css/ext-all.css">
<link rel="stylesheet" type="text/css" href="/js/ext-3.1.1/resources/css/xtheme-gray.css">
<script type="text/javascript" src="/js/ext-3.1.1/adapter/ext/ext-base.js"></script>
<script type="text/javascript" src="/js/ext-3.1.1/ext-all.js"></script>
<!--<script type="text/javascript" src="js/ext-3.1.0/ext-all.js"></script>-->

<script type="text/javascript" src="/js/main.js"></script>

<link rel="stylesheet" type="text/css" href="/style_sheets/v5.css">
<!--<script type="text/javascript" src="js/FG_PilotsGrid.js"></script>-->

</head> 
<body> 

<img src="/images/flightgear.png" id="flightgear_logo">

<div id="container">

<div id="top_box">

<h1>{{ conf.SITE_TITLE }}</h1>

	
<div>
	<ul class="navtabs">
		{% for n in conf.nav %}
		<li><a {% ifequal path n.path  %}class="current"{% endifequal %} href="{{ n.path }}" >{{ n.label}}</a></li>
		{% endfor %}
	</ul>
</div>


<table class="toolbar" width="100%">
	<td>Pilots Update: {{ conf.app_vars.pilots_info.updated|date:"H:i:s"|default:"--"  }}</td>
	<td>Pilots: {{ conf.app_vars.pilots_info.pilots_count|default:"--" }}</td>
	<td>ATC: {{ conf.app_vars.pilots_info.act_count}}</td>
	
	<td>Servers Update: {{ conf.app_vars.mpservers_info.updated|date:"H:i:s"|default:"--" }}</td>
	<td>Up: {{ conf.app_vars.mpservers_info.up|default:"--" }}</td>
	<td>Down: {{ conf.app_vars.mpservers_info.down|default:"--" }}</td>
	<td width="33%">&nbsp;</td>
</table>

</div>

<!-- Right Block -->
<div id="right_box">
{% block side_box %}
No content
{% endblock side_box %}
</div>

<!-- Content -->
<div id="content">
<h2>{{ title }}</h2>
{% block content %}
No Content
{% endblock %}
</div>

<!--- Footer --->
<div  style="clear: both;"></div>
<div id="footer">
<a href="http://code.google.com/appengine/"><img src="/images/gae.png"  style="float:left; margin-right: 20px;">Google App Engine</a>
<a href="https://appengine.google.com/dashboard?&app_id=fg-aircraft">Dashboard</a>
</div>
</div>




</body> 
</html>