{% extends "main.html" %}

{% block left %}
left MP
{% endblock %}


{% block content %}
<pre>#
{{ conf.app_vars.pilots_info.count }}
{{ conf.app_vars.pilots_info.updated }}
</pre>
<table>
<tr>
	<th>No</th>
	<th>Server</th>
	<th>Status</th>
	<th>Updated</th>
	<th>Location</th>
	<th align="right">Address</th>
	<th align="right">Online</th>
</tr>
{% for server in servers %}
	<tr>
		<td>{{ server.no }}</td>
		<td><a href="/mpserver/{{ server.server }}/">{{ server.host }}</a></td>
		<td {% ifequal server.status "OK" %} class="status_ok"{% endifequal %}
			{% ifequal server.status "Down" %}class="status_down"{% endifequal %}
			>{{ server.status }}</td>
		<td {% ifequal server.status "Down" %}class="status_down"{% endifequal %}>{{ server.status_updated|date:"Y-m-d H:i:s" }}</td>
		<td>{{ server.location }}</td>
		<td align="right">{{ server.ip }}:{{ server.port }}</td>
		<td align="right">{{ server.pilots_count }}</td>
    </tr>
{% endfor %}
</table>

{% endblock %}