{% extends "main.html" %}

{% block side_box %}


<h2>Links</h2>
<ul class="vnav">
	<li><a href="http://fgms.sourceforge.net/">fgms Project</a></li>
	<li><a href="http://fgms.sourceforge.net/download.php">Download</a></li>
</ul>

<button onclick="location.href='/mpservers/update/'">Update Now</button>
{% endblock side_box %}


{% block content %}

<table>
<tr>
	<th>No</th>
	<th>Server</th>
	<th>Status</th>
	<th>Updated</th>
	<th>Location</th>
	<th align="right">Address</th>
	<th align="right">Online</th>
</tr>
{% for server in servers %}
	<tr>
		<td>{{ server.no }}</td>
		<td><a href="/mpserver/{{ server.server }}/">{{ server.host }}</a></td>
		<td {% ifequal server.status "OK" %} class="status_ok"{% endifequal %}
			{% ifequal server.status "Down" %}class="status_down"{% endifequal %}
			>{{ server.status }}</td>
		<td {% ifequal server.status "Down" %}class="status_down"{% endifequal %}>{{ server.status_updated|date:"Y-m-d H:i:s" }}</td>
		<td>{{ server.location }}</td>
		<td align="right">{{ server.ip }}:{{ server.port }}</td>
		<td align="right">{{ server.pilots_count }}</td>
    </tr>
{% endfor %}
</table>

{% endblock %}