
{% extends "MAIN.html" %}



{% block content %}

<p>This is the master server. All Data is pulled from here</p>

<h2>Main logo</h2>
<pre>

http://fg-master.appspot.com/images/fg2.png
</pre>
<img src="http://fg-master.appspot.com/images/fg2.png">

<h2>Atom</h2>
<pre>

http://fg-master.appspot.com/images/missc/feed_atom.gif
</pre>
<img src="http://fg-master.appspot.com/images/missc/feed_atom.gif">


<h2>StyleSheets</h2>
<p>Sites NAvigation</p>
<pre>http://fg-master.appspot.com/style_sheets/sites_nav.css</pre>
<a href="http://fg-master.appspot.com/style_sheets/sites_nav.css">view</a>


{% endblock content %}

