

.tm{
 color: #000099;
}

body{

}

#main_container{
	max-width: 1100px;
	ssbackground-color: #efefef;
	margin: 0px auto;
}

#left_box{
	float: left;
	width: 180px;
	ssbackground-color: #efefef;
	ssposition: fixed;
	border-right: 1px solid #efefef;
	padding-right: 5px;
}
#left_box #flightgear_logo{
	text-align: center;
	margin-bottom: 30px;
	background-color: white;
}

#middle_box{
	margin-top: 20px;
	margin-left: 210px;
}

/******************************************/
/** Right Box **/
/******************************************/
#right_box{
	ssbackground-color: red;
	float: right;
	width: 200px;
	border-left: 1px solid #dddddd;
	min-height: 500px;
	sspadding-left: 10px;
}


/******************************************/
/** Panel Box **/
/**********************************/
.panel_box{
	ssbackground-color: blue;
	margin-bottom: 30px;
}

.panel_box h3{
	color: #CFE2F2;
	background-color: #344E7F;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	padding: 4px;
	font-size: 11pt;
	font-family: sans-serif;
}

.panel_box p{
	margin: 10px;
	font-size: 10pt;
	font-family: sans-serif;
	line-height: 130%;
}



/******************************************/
/** Top Box **/
/******************************************/
#top_box{
	cccmargin: 20px 30px 20px 30px;
	margin-top: 20px;
	mmmargin-bottom: 10px;
	background-color: #efefef;
	border-bottom: 3px solid #dddddd;
	ssborder-top: 1px solid #eeeeee;
	border-right: 1px solid #cccccc;
}

#top_box #lang_box{
	float: right;
	ssbackground-color: red;
	margin: 10px 10px 0px 0px;
}
#top_box #lang_box a{
	text-decoration: none;
	margin-left: 10px;
}

#top_box h1{
	font-size: 16pt;
	line-height: 180%;
	color: #3B5584;
	font-family: sans-serif;
	ssborder-bottom: 1px solid #cccccc;
	sspadding: 10px;
	background-color: white;
	margin-right: 200px;
}

#top_box h2{
	font-size: 10pt;
	font-weight: normal;
	padding: 5px;
	color: #3B5584;
}

#top_box table{
	width: 100%;
}
#top_box table th{
	text-align: left;
	font-size: 10pt;
	font-weight: bold;
	font-family: sans-serif;
	padding: 5px;
	color: #666666;
}
#top_box table td{
	text-align: right;

}
#top_box table td a{
	padding: 2px 10px 2px 10px;
	text-align: right;
	text-decoration: none;
	background-color: white;
	display: block;
	font-size: 10pt;
	font-family: sans-serif;
	color: #333333;
	border: 1px solid #efefef;
}

#top_box table td a:hover{
	background-color: #dddddd;
	color: blue;
	border: 1px solid #aaaaaa;
}


#toolbar_box{
	margin-top: 5px;
	mmbackground-color: #efefef;
	margin-bottom: 10px;
}

.important_box{
	border: 1px solid #FFC69D;
	background-color: #FFE99D;
	padding: 10px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.important_box img{
	float: right;
	margin: 3px;
	padding: 3px;
	background-color: white;
}

.important_box h5{
	margin-left: 30px;
	color: black;
	font-family: sans-serif;
}




/******************************************/
/** Content Box **/
/******************************************/
#content_box{
	margin-right: 240px;
}
#content_box h1{
	background-color: #efefef;
	ssborder-left: 1px solid #4380C1;
	ssborder-top: 1px solid #4380C1;
	padding: 5px 0px 5px 10px;
	margin-bottom: 10px;
	margin-top: 5px;
	border: 1px solid #aaaaaa;
	font-family: sans-serif;
}

#content_box h3{
	ssbackground-color: #444444;
	margin-left: 30px;
	font-family: sans-serif;
	margin-top: 25px;
	margin-bottom: 5px;
	border-bottom: 1px solid #eeeeee;
}

#content_box p{
	font-size: 11pt;
	font-family: sans-serif;
	line-height: 130%;
	margin-top: 5px;
	margin-left: 60px;
	margin-right: 10px;
	margin-bottom: 10px;
}
#content_box ol{
	font-size: 11pt;
	font-family: sans-serif;
	line-height: 130%;
	margin-top: 5px;
	margin-left: 60px;
	margin-right: 10px;
	margin-bottom: 10px;
	list-style-type: lower-roman;
}
#content_box ul{
	font-size: 11pt;
	font-family: sans-serif;
	line-height: 130%;
	margin-top: 5px;
	margin-left: 60px;
	margin-right: 10px;
	margin-bottom: 10px;
	list-style-type: disc;
}

#content_box li p{
	margin-left: 10px;
	margin-right: 50px;
}






#content_box table ss{
	background-color: #A1CAEA;
	color: black;
	font-family: sans-serif;
	font-size: 12pt;
	padding: 5px;
	border: 1px solid #aaaaaa;
	text-align: left;
}
#content_box table sstd{
	border-right: 1px solid #dddddd;

	margin: 10px;
}

#content_box table sstd p{
	margin-left: 0px;
	padding: 10px;
}

#content_box  .column_box{
llfloat: left;
	llwidth: 150px;
	background-color: #efefef;
	llmargin-right: 10px;
	padding: 3px;
	border: 1px solid #dddddd;
	margin: 10px;
	height: 100%;
}

#content_box  .column_box:hover{
	background-color: #D6E7EB;
	border: 1px solid #214073;
}


#content_box  .column_box h2{
	font-family: sans-serif;
	background-color: white;
	padding: 3px;
	border: 1px solid #dddddd;
}


#content_box  .column_box p{
	font-family: sans-serif;
	ssbackground-color: white;
	padding: 3px;
	ssborder: 1px solid #dddddd;
	margin: 5px;
	font-size: 10pt;
}

/********************************************************************/
/** Navigation ***/
/********************************************************************/
#navcontainer { 
	DEADfloat: left;
	ssmargin: 20px 30px 20px 20px; 
	sswidth: 160px;
}

#navcontainer ul{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	font-family: sans-serif;
}

#navcontainer li { 
	margin: 4px 0px 4px 0px; 
}

#navcontainer a{
	display: block;
	color: #333;
	background-color: #efefef;
	padding: 2px 10px;
	text-decoration: none;
	color: #3B4E77;
	border-bottom: 1px solid #aaa;
	border-left: 10px solid #eeeeee;
	border-right: 10px solid #eeeeee;
	font-size: 10pt;
	font-weight: bold;
}

#navcontainer a:hover{
	background-color: #dddddd;
	color: #444444;
	border-left-color: #91B6DF;
	border-right-color: #91B6DF;
	padding: 2px 1px 2px 10px;
}

#navcontainer ul ul{
	margin-left: 30px;
	padding: 0px;
	list-style-type: none;
}

#navcontainer li li a{
	display: block;
	color: #3B4E77;
	background-color: #efefef;
	sswidth: 160px;
	padding: 2px 10px;
	margin: 0px;
	border-top: none;
	border-bottom: none;
	border-left: 10px solid #eeeeee;
	border-right: 10px solid #eeeeee;
	text-decoration: none;
	font-size: 10pt;
	border-bottom: 1px solid #aaa;
}

#navcontainer a.selected{
	border-left-color: #214074;
	border-right-color: #214074;
	background-color: #D7E8EC;
}