
/*============================================*/
/* Icons */
/*============================================*/
.iconMap {background-image: url('../images/icons/map.png') !important;}
.iconNav {background-image: url('../images/icons/transmit.png') !important;}

.iconPilots {background-image: url('../images/icons/group.png') !important;}
.iconPilot {background-image: url('../images/icons/user_suit.png') !important;}

.iconRefresh {background-image: url('../images/icons/arrow_refresh.png') !important;}

.iconServerStatus {background-image: url('../images/icons/cog.png') !important;}

.iconVor {background-image: url('../../images/nav_icons/vor.png') !important;}
.iconNdb {background-image: url('../../images/nav_icons/ndb.png') !important;}


/*============================================*/
/* Pilots call sign in grid */
/*============================================*/
.fg_pilot_dead{
	border-left: 5px solid red;
	
}
.fg_pilot_new{
	border-left: 5px solid orange;
}
.fg_pilot_fly{
	border-left: 5px solid green;
}
/*
body{
	background-image: url(/images/flightgear.png);
	background-repeat: no-repeat;
}
*/

#container
{
width: 90%;
margin: 10px auto;
background-color: #fff;
color: #333;
border: 0px solid gray;
line-height: 130%;
}

#top_box
{
padding: .5em;
/* background-color: #ddd;
border-bottom: 1px solid gray; */
}

#top_box h1
{
padding: 0px;
margin: 0px;
text-align: right;
}

#top_box table.toolbar
{
margin: 0px;
text-align: right;

font-size: 9pt;
}

#top_box table.toolbar th
{
padding: 4px 4px 4px 20px;

border-bottom: 1px solid #cccccc;
}

#top_box table.toolbar td
{
padding: 4px;
border-bottom: 1px solid #cccccc;
}

#left_box
{
float: left;
width: 160px;
margin: 0px;
padding: 1em;
}

#left_box h2{
 font-size: 10pt;
}

#left_box h4{
font-size: 8pt;
}

.video_box{
	background-color: black;
	padding: 2px;
	margin-bottom: 5px;
	text-align: center;
}


#content
{
margin-left: 200px;
border-left: 1px solid gray;
border-right: 1px solid gray;
padding: 1em;

}

#footer
{
clear: both;
margin: 0;
padding: .5em;
color: #333;
background-color: #ddd;
border-top: 1px solid gray;
}

#leftnav p, #rightnav p { margin: 0 0 1em 0; }
#content h2 { margin: 0 0 .5em 0; }














#navlist
{
padding: 3px 0px;
margin-left: 0px;
border-bottom: 1px solid #778;
font: bold 12px Verdana, sans-serif;
}

#navlist li
{
list-style: none;
margin: 0px;
display: inline;
}

#navlist li a
{
padding: 3px 0.5em;
margin-left: 3px;
border: 1px solid #778;
border-bottom: none;
background: #DDE;
text-decoration: none;
color: black;
}


#navlist li a:hover
{
color: #000;
background: #AAE;
border-color: #227;
}

#navlist li a.current
{
background: white;
border-bottom: 1px solid white;
}





#content table{
	font-size: 10pt;
}
#content table tr{
	border-bottom: 1px solid #cccccc;
}
#content table td{
	padding: 3px;
}
#content table th{
	padding: 3px;
	background-color: #efefef;
}

#content table td.status_ok{
	color: #009900;
}
#content table td.status_down{
	color: #990000;
}