
/*============================================*/
/* Icons */
/*============================================*/
.iconMap {background-image: url('../images/icons/map.png') !important;}
.iconNav {background-image: url('../images/icons/transmit.png') !important;}

.iconPilots {background-image: url('../images/icons/group.png') !important;}
.iconPilot {background-image: url('../images/icons/user_suit.png') !important;}

.iconRefresh {background-image: url('../images/icons/arrow_refresh.png') !important;}

.iconServerStatus {background-image: url('../images/icons/cog.png') !important;}

.iconVor {background-image: url('../../images/nav_icons/vor.png') !important;}
.iconNdb {background-image: url('../../images/nav_icons/ndb.png') !important;}


/*============================================*/
/* Pilots call sign in grid */
/*============================================*/
.fg_pilot_dead{
	border-left: 5px solid red;
	
}
.fg_pilot_new{
	border-left: 5px solid orange;
}
.fg_pilot_fly{
	border-left: 5px solid green;
}

/*============================================*/
/* Globals */
/*============================================*/
body{
	background-image: url("/images/cloud.jpg");
	background-repeat: no-repeat;
	background-position: top right;
}

#flightgear_logo{
	position: fixed;
	top: 10px;
	left: 5px;
}
	
#container
{
width: 90%;
margin: 10px auto;
min-height: 600px;
color: #333;
border: 0px solid gray;
line-height: 130%;
}

.search_info{
	padding: 5px;
}

/*============================================*/
/* Top Box */
/*============================================*/
#top_box
{
padding: .5em;
/* background-color: #ddd;
border-bottom: 1px solid gray; */
}

#top_box h1
{
padding: 0px;
margin: 0px;
text-align: right;
color: #3B6695;

}

/*============================================*/
/* Toolbar */
/*============================================*/
#top_box table.toolbar
{
margin: 5px 0px 5px 0px;
font-family: arial, sans-serif;

font-size: 9pt;

}

#top_box table.toolbar th
{
padding: 4px 4px 4px 20px;

}

#top_box table.toolbar td
{
padding: 0px 10px 0px 10px;
border-right: 1px solid #eeeeee;
}

/*============================================*/
/* Leeft Box (unused) */
/*============================================*/
#left_box
{
float: left;
width: 250px;
margin: 0px;
padding: 1em;

}

#left_box h2{
 font-size: 10pt;
}

#left_box h4{
font-size: 8pt;
}

.video_box{
	padding: 2px;
	margin-bottom: 5px;
	text-align: center;
}


/*============================================*/
/* Right Box */
/*============================================*/
#right_box
{
float: right;
width: 200px;
margin: 30px 0px 0px 0px;

border-left: 1px solid #538FD1;
font-family: arial, sans-serif;
min-height: 500px;

}

#right_box h4{
 font-size: 10pt;
 border-bottom: 1px solid #538FD1;
border-top: 1px solid #538FD1;
border-right: 1px solid #538FD1;
 background-color: #efefef;
 color: black;
  padding: 2px 5px;
 margin-bottom: 10px;
}

#right_box p{
 font-size: 9pt;
 padding: 10px;

}

#right_box table{
	font-size: 9pt;
	padding: 10px;
	font-family: arial, sans-serif;
	margin: 10px;
}

#right_box table th{
	background-color: #efefef;
	border: 1px solid #dddddd;
}
/*============================================*/
/* Footer */
/*============================================*/
#footer
{
clear: both;
margin: 0;
padding: .5em;
color: #333;

border-top: 1px solid #5491CF;
font-family: sans-serif;
font-size: 10pt;
}

#footer a{
	text-decoration: underline;
	color: black;
	margin-right: 20px;
}

#footer a:hover{
	text-decoration: underline;
	color: blue;
}














/****************************************************/
/** Main Tabs Navigation Tabs **/
/****************************************************/
.navtabs
{
padding: 3px 0px;
margin-left: 0px;
border-bottom: 1px solid #aaaaaa;
font: bold 12px Verdana, sans-serif;
}

.navtabs li
{
list-style: none;
margin: 0px;
display: inline;
}

.navtabs li a
{
padding: 3px 0.5em;
margin-left: 3px;
border: 1px solid #aaaaaa;
border-bottom: none;
background: #eeeeee;
text-decoration: none;
color: black;
}

.navtabs li a:hover
{
color: #000;
background: #D2E3F5;
border-color: #227;
}

.navtabs li a.current
{
background: white;
border-bottom: 1px solid white;
}


/****************************************************/
/** SUB Navigation Tabs **/
/****************************************************/
.navsubtabs
{
padding: 3px 0px;
margin-left: 0px;
border-bottom: 1px solid #aaaaaa;
font: normal 10pt  sans-serif;
}

.navsubtabs li
{
list-style: none;
margin: 0px;
display: inline;
}

.navsubtabs li a
{
padding: 3px 0.5em;
margin-left: 3px;
border: 1px solid #aaaaaa;
border-bottom: none;
background: #eeeeee;
text-decoration: none;
color: black;
}

.navsubtabs li a:hover
{
color: #000;
background: #AAE;
border-color: #227;
}

.navsubtabs li a.current
{
background: white;
border-bottom: 1px solid white;
}

/****************************************************/
/** Vertical Navigation **/
/****************************************************/
.vnav {
	margin-bottom: 10px;
	margin-left: 20px;
}
.vnav li{
	list-style-type: square; 
	font-size: 8pt;
}


/****************************************************/
/** Main Content **/
/****************************************************/
#content
{
margin-right: 250px;
padding: 0px;
font-family: arial, sans-serif;
min-height: 600px;
}

#content h2
{
border-left: 2px solid #4A8FD5;
border-top: 2px solid #4A8FD5;
border-bottom: 2px solid #4A8FD5;
border-right: 2px solid #4A8FD5;
padding: 3px 3px 3px 8px;
margin-bottom: 10px;
background-color: #eeeeee;
}

#content h3
{
color: #4A8FD5;
margin-top: 20px;
margin-bottom: 10px;
font-size: 11pt;
}

#content ul{
	margin-left: 40px;
	margin-bottom: 10px;
}
#content li
{
list-style-type: circle;
padding: 3px 3px 3px 3px;

font-size: 10pt;
}

#content p
{
font-size: 10pt;
margin-bottom: 10px;
}

#content table.listing{
	font-size: 10pt;
}
#content table.listing tr{
	border-bottom: 1px solid #cccccc;
}
#content table.listing tr.hover:hover{
	background-color: #FFFCD5;
}
#content table.listing td{
	padding: 3px;
}
#content table.listing th{
	padding: 3px;
	background-color: #efefef;
}

#content table.aero th{
	padding: 5px;
	background-color: #efefef;
	text-align: right;
	border-right: 2px solid #eeeeee;
	width: 33%;
}
#content table.aero td{
	padding: 5px;
	font-weight: bold;
}


.status_down{
	color: #990000;
	background-color: #FFE1DB;
	text-align: center;
	display: block;
}
.status_up{
	color: #009900;
	display: block;
	background-color: #E7FAE2;
	text-align: center;
}


table.aircraft_list{

}
table.aircraft_list tr{
	border-bottom: 1px solid white;
}
table.aircraft_list td{
	vertical-align: top;
	border-bottom: 1px solid white;
}
table.aircraft_list h6{
	border-left: 1px solid yellow;
	border-top: 1px solid yellow;
	font-size: 8pt;
	line-height: 110%;
	padding: 3px 0px 3px 5px;
}
table.aircraft_list td p{
	font-size: 8pt;
	line-height: 110%;
	margin: 0px;
	vertical-align: top;
}
table.aircraft_list a{
	border-top: 1px solid yellow;
	padding: 2px;
}
