
{% extends "MAIN.html" %}

	{% block right_box %}


<div class="panel_box">
	<h3>Setup A Server</h3>
	<p>If you are interested in hosting your own Multiplayer server, you may want to check out <a href="http://wiki.flightgear.org/index.php/Howto:_Set_up_a_multiplayer_server">this wiki page</a></p>
</div>

<div class="panel_box">
	<h3>FGMS</h3>
	<p>The FlightGear Multiplayer Server</p>
	<ul class="vnav">
	<li><a href="http://fgms.sourceforge.net/">FGMS Homepage</a></li>
	<li><a href="http://fgms.sourceforge.net/download.php">Download</a></li>
</ul>
</div>


	{% endblock right_box %}


{% block content %}


<p>To fly or atc with multiplayer, follow the setup links.</p>


{% endblock content %}

