{% extends "MAIN.html" %}

{% block right_box %}

	<div class="panel_box">
		<h3>FGMS</h3>
		<ul>
		<li><a href="http://fgms.sourceforge.net/">Project Page</a></li>
		<li><a href="http://fgms.sourceforge.net/cvsresources.php">CVS Build</a></li>
		<li><a href="http://fgms.sourceforge.net/protocol/index.html">API</a></li>
		<li><a href="http://fgms.sourceforge.net/download.php">Download</a></li>
		</ul>
	</div>

{% endblock %}


{% block content %}

<h2>Setup a FGMS Server</h2>

<p>If you want to setup a your own <b>MultiPlayer Server</b>, then you need some familiarity with Linux and command line for compiling.</p>

<p>There is not Installer for FGMS.</p>

<p>Read the <a href="http://wiki.flightgear.org/index.php/Howto:_Set_up_a_multiplayer_server"><b>How to setup a multiplayer server</b></a> for detailed instructions.</a> 
</p>

{% endblock %}