
{% extends "MAIN.html" %}

	{% block right_box %}


<div class="panel_box">
	<h3>Setup A Server</h3>
	<p>If you are interested in hosting your own Multiplayer server, you may want to check out <a href="http://wiki.flightgear.org/index.php/Howto:_Set_up_a_multiplayer_server">this wiki page</a></p>
</div>

<div class="panel_box">
	<h3>FGMS</h3>
	<p>The FlightGear Multiplayer Server</p>
	<ul class="vnav">
	<li><a href="http://fgms.sourceforge.net/">FGMS Homepage</a></li>
	<li><a href="http://fgms.sourceforge.net/download.php">Download</a></li>
	</ul>
</div>


	{% endblock right_box %}


{% block content %}


<p>
With multi player, the FlightGear simulator take's on a few more dimensions of simulated reality, you can for example:-
<ul>
<li>Chat to other pilots and ATC</li>
<li>Fly in tandem -  difficult and not as easy as you think</li>
<li>Participate in ATC</li>
<li>Anything you want to do as a group</li>
</ul>
</p>
<p>
The way it works is than you as a pilot with your FlightGear Aircraft instance connects
to an online MultiPlayer server. The Multiplayer servers in turn, chat to each each other and
relay your flight position, along with thousands of others as a "cluster", many times a second.
</p>


<ul>
<li>See other aircraft</li>
<li>See other aircraft</li>

</p>


{% endblock content %}

